{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container mx-auto text-center mt-20">
    <h1 class="text-5xl font-bold text-green-600">Bienvenue sur mon blog 💙</h1>
    <p class="mt-4 text-gray-700 text-lg">Ceci est la page d’accueil.</p>
    <button class="btn-primary">Clique ici</button>
<button class="btn-primary">Annul</button>
<button class="btn-primary">S’abonner</button>
   <button class="btn-primary">S’abonner</button>


</div></br>


<div class="card">
    <h2 class="text-xl font-semibold">Titre de l’article</h2>
    <p class="text-gray-700 mt-2">Contenu...</p>


</div>
{% endblock %}
